body{
    background-color: white;
    margin:0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* header */
.header{
    display: flex;
    font-size: 24px;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 20px;
}
.header-div{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.header-menu{
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    color: #E5E7EB;
    gap: 15px;
}
.header-logo{
    font-size: 20px;
    font-weight: bold;
}

/* hero */
.hero-div{
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}
.hero{
    width: 70%;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-around;
}
.hero-left{
    margin: 20px;
    display: flex;
    width: 35%;
    flex-direction: column;
    justify-content: space-around;
}
.hero-title{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.hero-text{
    font-size: 18px;
    color: #E5E7EB;
    align-items: flex-start;
}
.hero-button{
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 10px;
    border-style: none;
    padding:10px;
    flex: 1 1 auto; 
    width: 100px;

}

.hero-right{
    background-color: rgb(121, 121, 121);
    color: #F9FAF8;
    height: 200px;
    width:400px;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* info */
.info-text{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}
.info{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-boxes{
    display: flex;
    justify-content: space-evenly;
    margin:30px;
}
.info-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.box-image{
    color:#F9FAF8;
    border-radius: 20px;
    border-style: solid;
    border-color: #3882F6;
    border-width: 5px;
    padding: 70px;
}
.box-text{
    margin-top: 10px;
    align-self: center;
    width: 70%;
    flex: auto;
    text-align: center;
    color: #1F2937;
    font-style: italic;
}
/* quote */
.quote-div{
    display: flex;
    background-color: #E5E7EB;
    align-items: center;
    justify-content: center;
    padding: 40px;
}
.quote{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.quote-text{
    font-size: 36px;
    color: #1F2937;
    padding: 20px;
    font-style: italic;
}
.quote-author{
    align-self: flex-end;
    color: #1F2937;
    font-weight: bold;
    padding: 20px;
}
/* call to action */
.call-div{
    margin: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.call{
    background-color: #3882F6;
    width: 65%;
    padding: 50px;
    border-radius: 20px;
    color: #E5E7EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.call-heading{
    font-weight: bold;
    font-size: 22px;
}
.call-subtext{
    font-size: 18px;
}
.call-button{
    font-size: 18px;
    border-style: solid;
    border-color: #E5E7EB;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
}

/* footer */
.footer{
    background-color: #1F2937;
    text-align: center;
    color: #E5E7EB;
    padding: 30px;
}